* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat';
    
}

body {
    background-color: #0f1c58;
}

.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #f7a7e3;
}

.inner_header {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: #f7a7e3;
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
    margin-bottom: 50px;
}

.logo_container h1 {
    color: #cc0099;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 50px;
    font-weight: 200;
    
}

.logo_container span {
    font-weight: 800;
    
}

.nav {
    float: right;
    height: 100%;
}

.nav a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.nav a:last-child {
    padding-right: 0;
}

.nav a li {
    padding-top: 25px;
    display: table-cell;
    height: 100%;
    color: #cc0099;
    font-family: 'Montserrat';
    font-size: 10px;
}

.nav a li:hover {
    color: #7dcbf9;
}

.blueText {
    color: #7dcbf9;
}

.pinkText {
    color: #f7a7e3;
}

.btn {
    border: none;
    color: white;
    padding: 5px 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
}

.boy {
    background-color: #7dcbf9;
}

.boy:hover {
    background-color: #cc0099;
}

.girl {
    background-color: #f7a7e3;
}

.girl:hover {
    background-color: #cc0099;
}

.boyBabyName {
    color: #7dcbf9;
    font-size: 80px;
}

.detailsLink {
    color: white;
    font-size: 25px;
}

.detailsLink:visited {
    color: #cc0099;
}

.girlBabyName {
    color: #f7a7e3;
    font-size: 80px;
}

.details {
    color: white;
    font-size: 25px;
}

.loginLink {
    border: 1px solid #cc0099;
    padding: 6px 14px;
}